# O arquivo .gitignore serve para instruir o Git a
# ignorar determinados arquivos ou pastas do projeto.
# .gitignore

# Ignorar arquivos CSV
*.csv

# Ignorar arquivos PDF
*.pdf

# Ignorar pasta: aulas
## A BARRA (/) DIFERENCIA ARQUIVO DE PASTA:
## - aulas  : Ignora tanto arquivos quanto pastas com este nome.
## - aulas/ : Garante que APENAS a pasta 'aulas' e seu conteúdo sejam ignorados.
aulas/

# Ignorar pasta: livros
livros/

# Ignorar pasta: data
data/

#ANOTAÇÕES:

01_canais_venda_sujo.txt
